/* TODO: using css variables will help the code become easier to maintain */
/* #faf9f6 */

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  animation: colors 60s ease infinite;
  font-family: 'Roboto Mono', monospace;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2em;
  box-sizing: border-box;
  width: 100%;
}

header,
footer {
  padding: 1em;
}

header {
  justify-content: space-between;
}

footer {
  background-color: black;
}

main {
  flex: 1;
  flex-direction: column;
  gap: 0.8em;
  justify-content: flex-start;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
  width: 100%;
  max-width: 32em;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  margin-bottom: 0.4em;
}

/* form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 100%;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 1em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  gap: 0.8em;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 1.8em;
}

label {
  white-space: nowrap;
  min-width: 6em;
  align-self: flex-start;
}

fieldset.checkboxes {
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1em;
}

.submit-button {
  margin-left: auto;
}

div.name,
div.surname,
div.email,
div.age,
div.color,
div.checkbox {
  display: flex;
  gap: 0.3em;
  flex-basis: 100%;
  align-items: center;
  flex-direction: column;
}

#nameInput,
#surnameInput,
#emailInput,
#ageInput {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 2px lightgray;
  box-sizing: border-box;
}

#nameInput:focus,
#surnameInput:focus,
#emailInput:focus,
#ageInput:focus {
  border-color: black;
}

input[type='color'] {
  cursor: pointer;
  padding: 0;
}

div.checkbox {
  flex-basis: auto;
  flex-direction: row;
  gap: 0.6em;
}

div.checkbox > input {
  width: 1em;
  height: 1em;
  align-self: self-end;
  accent-color: black;
}

div.checkbox > * {
  cursor: pointer;
}
/* table styling */
section.table-section {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
}

div.table-wrap {
  padding: 2em;
  border-radius: 1em;
}

.print-button-wrap {
  max-width: 32em;
  display: flex;
  flex: 1;
  width: 100%;
}

.print-button,
.submit-button {
  margin-left: auto;
  width: 5em;
  margin-right: 2em;
}
th,
td {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;
  position: relative;
}

tr:not(:first-child) {
  border-top: 1px solid black;
}

.fa-trash {
  visibility: hidden;
  position: absolute;
  right: 0.7em;
  top: 0.7em;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

tbody > tr:hover {
  background-color: #ffffff75;
}

tr:hover > td > .fa-trash {
  visibility: visible;
}

table:first-child > tr {
  border: none;
}

.table-empty-state {
  text-align: center;
  min-width: 28em;
}

.modal-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.1em);
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 1em;
  max-width: 24em;
  width: calc(100% - 2em);
  border-radius: 1em;
  color: #ffffff;
  background-color: black;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 1s ease, top 1s ease;
  box-shadow: 6px 6px 48px #00000075, inset 6px 6px 12px #ffffff50;
}

.print-modal {
  max-width: 36em;
}

.print-modal-info {
  line-break: strict;
}

.open-modal {
  visibility: visible;
  opacity: 1;
}

.open-modal > .modal {
  top: 40%;
  transform: translate(-50%, -50%) scale(1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 100%;
}

button {
  background: #ffffff;
  color: black;
  height: 2em;
  border-radius: 1em;
  outline: none;
  border: none;
  padding: 0 1em;
  line-height: 2em;
  font-weight: 600;
}

button:hover {
  color: #ffffff;
  background: black;
  cursor: pointer;
}

.modal-x-button {
  color: #ffffff;
  background: none;
  position: absolute;
  right: 1em;
  z-index: 1;
  transform: scale(2);
}

.modal-x-button:hover {
  color: red;
  background: none;
}

.modal-cancel-button,
.modal-delete-button {
  opacity: 0.8;
}

.modal-cancel-button:hover,
.modal-delete-button:hover {
  opacity: 1;
  background: #ffffff;
  color: black;
}

.modal-delete-button:hover {
  background: red;
  color: #ffffff;
}
.modal-title {
  justify-content: center;
}

.modal-info {
  text-align: center;
  justify-content: center;
}

.modal-footer {
  margin-top: 2em;
  gap: 1em;
}

@keyframes colors {
  0% {
    background-color: white;
  }
  25% {
    background-color: #0085e5;
  }
  50% {
    background-color: #dfff00;
  }
  75% {
    background-color: #f33a6a;
  }
  100% {
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  fieldset,
  div.name,
  div.surname,
  div.email,
  div.age,
  div.color {
    flex-direction: column;
  }

  label {
    min-width: 6em;
    align-self: flex-start;
  }

  section {
    width: calc(100% - 2em);
  }

  section.table-section {
    flex-wrap: wrap;
  }

  div.table-wrap {
    width: 100%;
    overflow-x: auto;
  }

  .table-empty-state {
    min-width: initial;
  }
}

.hidden {
  display: none;
}
