@import url('./layout.css');
@import url('./buttons.css');
@import url('./form.css');
@import url('./table.css');
@import url('./modal.css');

/* TODO: using css variables will help the code become easier to maintain */
/* TODO: optimize selectors and props */
/* #faf9f6 */

@media only screen and (max-width: 600px) {
  fieldset,
  div.name,
  div.surname,
  div.email,
  div.age,
  div.color {
    flex-direction: column;
  }

  label {
    min-width: 6em;
    align-self: flex-start;
  }

  section {
    width: calc(100% - 2em);
  }

  section.table-section {
    flex-wrap: wrap;
  }

  div.table-wrap {
    width: 100%;
    overflow-x: auto;
  }

  .table-empty-state {
    min-width: initial;
  }

  footer {
    justify-content: center;
  }
}

.hidden {
  display: none;
}
